.profile {
  max-width: 880px;
  max-height: 120px;
  width: 100%;
  display: flex;
  flex-direction: row;
  color: white;
  padding-top: 40px;
  margin: auto;
}
.profile__picture {
  max-width: 120px;
  max-height: 120px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  padding-right: 30px;
}
.profile__content {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: auto 0;
}
.profile__container {
  width: fit-content;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 18px;
}
.profile__data {
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.profile__name {
  font-weight: 500;
  font-size: 42px;
  padding-bottom: 16px;
  white-space: nowrap;
}
.profile__occupation {
  font-weight: 400;
  font-size: 18px;
}
.profile__button_edit {
  max-width: 24px;
  max-height: 24px;
  width: 100%;
  height: 100%;
  background-color: black;
  padding: 0;
  border: none;
}
.profile__button_follow {
  width: 150px;
  height: 50px;
  background-color: black;
  border: 1px solid white;
  margin-left: auto;
  flex-shrink: 0;
}
.profile__button-icon {
  width: 22px;
  height: 22px;
}

.profile__button_follow:hover {
  opacity: 60%;
}

@media screen and (max-width: 1000px) {
  .profile {
    max-width: 80%;
  }
  .profile__picture {
    max-width: 90px;
    max-width: 90px;
    padding-right: 15px;
  }
  .profile__name {
    font-size: 32px;
  }
  .profile__button_follow {
    max-width: 100px;
    max-height: 34px;
  }
}
@media screen and (min-width: 320px) and (max-width: 719px) {
  .profile {
    max-width: 282px;
    max-height: 100%;
    flex-direction: column;
    align-items: center;
    margin: auto;
    box-sizing: border-box;
  }
  .profile__picture {
    max-width: 120px;
    max-height: 120px;
    padding: 0;
  }
  .profile__content {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
  }
  .profile__data {
    padding-bottom: 35px;
  }

  .profile__name {
    font-size: 22px;
  }
  .profile__occupation {
    font-size: 22px;
    margin: auto;
  }
  .profile__button_edit {
    max-width: 18px;
    max-height: 18px;
  }

  .profile__button_follow {
    width: 282px;
    height: 50px;
    margin: auto;
    pa
  }
}
